# Compiled python files
*.pyc

# Any sort of log files
*.log

# PyCharm and WebStorm files
.idea/

# local development database
*.sqlite3

# postgres database
database/

# virtualenv files
frontend/env

# tmp files
frontend/tmp

# node modules
node_modules

# bower components
bower_components

# old stuff
ostp_files_emberV2

#migrations
backend/api/migrations
