# Compiled python files
*.pyc

# Any sort of log files
*.log

# PyCharm and WebStorm files
.idea/

# local development database
*.sqlite3

# postgres database
database/

# virtualenv files
ostp_files_ember/env

# tmp files
ostp_files_ember/tmp

# node modules
node_modules


# bower components
bower_components
