@import "bootstrap";
@import 'base.scss';

body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:0;
    margin:0;
}
html{
padding:0;
margin:0;
}

.main-content-background{
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(45deg, rgba(147,206,222,1) 8%, rgba(140,200,218,1) 12%, rgba(46,119,162,1) 68%);
  background: -webkit-gradient(left bottom, right top, color-stop(8%, rgba(147,206,222,1)), color-stop(12%, rgba(140,200,218,1)), color-stop(68%, rgba(46,119,162,1)));
  background: -webkit-linear-gradient(45deg, rgba(147,206,222,1) 8%, rgba(140,200,218,1) 12%, rgba(46,119,162,1) 68%);
  background: -o-linear-gradient(45deg, rgba(147,206,222,1) 8%, rgba(140,200,218,1) 12%, rgba(46,119,162,1) 68%);
  background: -ms-linear-gradient(45deg, rgba(147,206,222,1) 8%, rgba(140,200,218,1) 12%, rgba(46,119,162,1) 68%);
  background: linear-gradient(45deg, rgba(147,206,222,1) 8%, rgba(140,200,218,1) 12%, rgba(46,119,162,1) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#2e77a2', GradientType=1 );
  height:100vh;
  width:100vw;
  position: absolute;
  top: 0;
  left:0;
  padding:40px 20px 0 20px;

}

.btn{
width:260px;
height:50px;
margin-left:45px
}

.button1{
width:250px;
height:45px;
border:none;
outline:none;
box-shadow:0 3px 2px 0 #2c80a2;
color:#fff;
font-size:14px;
text-shadow:0 1px rgba(0,0,0,0.4);
background-color:#3fb8e8;
font-weight:700;
background-image:url(../images/1.png);
background-repeat:no-repeat;
background-position:200px
}
.button1:hover{
background-color:#1baae3;
cursor:pointer
}
.button1:active{
padding-top:2px;
box-shadow:none
}
