<h1>Researchers</h1><span class="status"> Done! </span>
<div class="row">
    <div class="text-center">



      <button class="btn btn-primary btn-lg btn-block"  {{action "nextPage" "file-success"}} > Upload Another Document </button>
    </div>
</div>

