<div class="row">
  <div class="col-xs-2" ><h1>Researchers</h1></div>
  <div class="col-xs-2 status" ><h4> Done! </h4> </div>
</div>


<div class="vertical-horizontal-center-row">
  <h2>File Successfully uploaded!</h2>
  <button class="btn btn-primary btn-lg btn-block"  {{action "nextPage" "file-success"}} > Upload Another Document </button>

</div>