<div class="row">
  <div class="col-xs-2" ><h1>Researchers</h1></div>
  <div class="col-xs-2 status" ><h4> 1 / 4</h4> </div>
</div>

<div class="vertical-horizontal-center-row">
  <h2>Select your funding department(s).</h2>

    {{components/select-box}}



      <div class="selectlist"></div>

    <button class="btn addSelectBtn btn-success btn-sm btn-block" {{action "addDepartmentSelect"}} ><span class="glyphicon glyphicon-plus"></span></button>



  <button class="btn btn-primary btn-lg btn-block m-t-20"  {{action "nextPage" "funding-select"}} > Next </button>

</div>


