<div class="row">
  <div class="col-xs-2" ><h1>Researchers</h1></div>
  <div class="col-xs-2 status" ><h4> 2 / 4</h4> </div>
</div>


<div class="vertical-horizontal-center-row">
   <h2>Enter your grant number(s).</h2>
    <div class="text-center">
      <h4 class="inline-block">{{this.department}} :</h4> <input type="text" name="department">
    </div>
    <button class="btn btn-primary btn-lg btn-block"  {{action "nextPage" "grant-select"}} > Next </button>
</div>
