<div class="row">
  <div class="col-xs-2" ><h1>Researchers</h1></div>
  <div class="col-xs-2 status" ><h4> 4 / 4</h4> </div>
</div>


<div class="vertical-horizontal-center-row">
  <h2>Review / Enter Meta data</h2>
  <button class="btn btn-primary btn-lg btn-block"  {{action "nextPage" "meta-data"}} > Finish </button>
</div>
