<select class="select" onchange={{action "selectDepartment" value="target.value"}}>
  {{#each departments as |departmentChoice|}}
    <option value={{departmentChoice}} selected={{eq department departmentChoice}}>{{departmentChoice}}</option>
   {{/each}}
 </select>