<h1>Researchers</h1><span class="status"> 3 / 4 </span>
<div class="row">
    <div class="text-center">



      <button class="btn btn-primary btn-lg btn-block"  {{action "nextPage" "upload-file"}} > Upload </button>
    </div>
</div>

