body{
    min-height: 700px;
    background: #C5D6E6 url('https://osf.io/static/img/bg6.jpg') top center repeat-y;
    background-size: cover;
}

.container {
    width: 100%;
    padding:0;
/*
    background:url("https://osf.io/static/img/front-page/bg-web.png") no-repeat center;
*/

}

.researchers-table{
    border-top: 5px solid #2e6da4;

    background: rgba(255,255,255,.49);
    padding: 15px 15px;
    border-radius: 2px;
    width:600px;
    height:220px;
    margin: 0 auto;
    margin-top: 200px;
}

.admin-table{
  background: #67a3bf;
  background: -moz-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #67a3bf), color-stop(18%, #166596), color-stop(100%, #000000));
  background: -webkit-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
  background: -o-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
  background: -ms-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
  background: linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a3bf', endColorstr='#000000', GradientType=1);
  width:100%;
  position:absolute;
  bottom:0;
  text-align:center;
  color:white;
  padding: 0 0 10px 0;
}

.form-table{
    border-top: 5px solid #2e6da4;

    background: rgba(255,255,255,.49);
    padding: 25px 15px;
    border-radius: 2px;
    width:600px;
    height:100%;
    margin: 0 auto;
    margin-top: 50px;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 2px;
    border-top: 5px solid #2e6da4;
    margin: 0 auto;
    margin-top: 200px;

}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#identification {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}


.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}


.login-block input:active, .login-block input:focus {
    border: 1px solid #2e6da4;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #337ab7;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #2e6da4;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #3374b7;
}






*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-table{
margin-bottom:75px;
}
.form-table form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}


.form-table input[type="text"],
.form-table input[type="password"],
.form-table input[type="date"],
.form-table input[type="datetime"],
.form-table input[type="email"],
.form-table input[type="number"],
.form-table input[type="search"],
.form-table input[type="tel"],
.form-table input[type="time"],
.form-table input[type="url"],
.form-table textarea,
.form-table select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.form-table input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.form-table select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.form-table .upload button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
.addFunding{
    margin-left: 426px;
}
.form-table fieldset {
  margin-bottom: 30px;
  border: none;
}

.form-table legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.form-table  label {
  display: block;
  margin-bottom: 8px;
}

.form-table label.light {
  font-weight: 300;
  display: inline;
}

.form-table .number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.metaData{
   margin-top:25px;
}

.statusHolder{
  margin-top: 55px;
  margin-left: 10px;
}



/*managers css*/
.document-list{
  width:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;


}

.document{
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
  Width:900px;
  height:50px;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 2px;
  -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.5s;
/*
	border-left: 5px solid #5cb85c;
*/


}

.action-buttons {
  height:100%;
  padding-top:15px;
  padding-right: 10px;
}

.action-buttons li , .action-buttons a{
  text-align: center;
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  background: #337ab7;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #2e6da4;
  color: #fff;
  cursor: pointer;
  padding:8px;
  margin-left: 5px;

}


.action-buttons li:hover {
    background: #286090;
}

.more-info{
  border-top: 1px solid #2e6da4;
  margin-top:15px;
  display:none;

}
.view-document {
  overflow:hidden;
  padding-right: 5px;
  display:none;
  margin-top: -560px;
  width: inherit;
  height:inherit!important;


}

.view-document div iframe{
  height:540px;

}
.document-more-info{
  height:100%;
}

.document-view-document{
  height:600px;
}



table {
  margin-bottom: 44px;
  color: #666
}
table:last-child {
  margin-bottom: 0;
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
.more-info th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
.more-info table thead {
  line-height: 44px;
}
.more-info table thead th {
  color: #337ab7;
  font-size: 24px;
}
tbody th {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #337ab7;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: #black;
}

.affiliation ul , .fileName ul{
 padding:0;
}

.affiliation ul li , .fileName ul li {
 list-style-type: none;
}
.fileName ul li {
 height:19px;
}

.admin-settings-button{
  position:fixed;
  right:0;
  top:50px;
  border-bottom-left-radius: 2em;
}




/*Settings CSS*/
.settingsHolder{
    border-top: 5px solid #2e6da4;
    background: rgba(255,255,255,.49);
    padding: 25px 15px;
    border-radius: 2px;
    width:600px;
    height:100%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom:20px;

}
.settingsHolder textarea{
	width: 100%;
	height: 520px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
  resize:vertical;
}
textarea{
  resize:vertical;
}

.settings-body{
  display: -webkit-flex;
  display: flex;
  margin-top:20px;
}


.back-button{
  position:fixed;
  left:0;
  top:50px;
  border-bottom-right-radius: 2em;
}

.flex-container {
    display: flex;
    position:fixed;
    right:0;
    top: 50px;
    }

.flex-item {
    color: white;
    font-weight: bold;

}
.setting-nav-color {
   background-color: #223543;
   width:200px;
   height:33px;
   border-bottom-left-radius: 2em;
}

.setting-nav-color .btn-link{
    color:white;

}

.osf-gravatar img{
  height:20px;
}
/*Status Filter*/
#filters {
	list-style:none;
   margin-top: 10px;
   width: 423px;
}

	#filters li {
		float:left;
		padding-bottom:5px;
	}

	#filters li span {
		display: block;
		padding:5px 20px;
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}

	#filters li span.active {
		background: #337ab7;
		color:#fff;
	  border-radius: 2px;
	}



#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: #e95a44;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}

		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}

			.portfolio .text-category {
				display:block;
				font-size:9px;
			}

	.portfolio:hover .label {
    bottom:0;
  }
	.portfolio:hover img {
    top:-30px;
  }


.custom h2 {
 color: #111;
 font-family: 'Open Sans', sans-serif;
 font-size: 30px; font-weight: 300;
 line-height: 32px; margin: 0 0 72px;
 text-align: center;
 margin: 0;
 margin-top: 100px;
 color: #666
 }


.department-header{
    Width: 900px;
    max-height: 150px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 1px solid #ababab;
}
.grant-number-header{
    margin-left:100px;
}
.thead-default-tr-th{
    height:0;
    vertical-align: middle !important;
    text-align:center;
   }

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0 solid #ddd;
}

.less-info-holder{
  height:50px;
}

.less-info{
  font-size:15px;
  float:left;
  margin-top:13px;
  margin-left:25px;
}
.less-info span{
  padding:2px;
}

.less-info span input{
  background: rgba(255, 255, 255, 0.0);
  text-align:center;
  outline: none;
  border:none;
   text-overflow: ellipsis;
}

.tb-file-viewer-header{
margin-left:10px;
}

.formBuilderButtons{
  float:right;
  padding:5px;
}

.form-button-holder{
  z-index:200;
}
.form-builder-save, .view-data, .clear-all{
 display:none!important;
}
.clear-all{
width:150px;
order-radius: 5px;

}

form-template{
display:block;
}


.center-table
{
  margin: 0 auto !important;
  float: none !important;
  width:900px;
  border-collapse:separate; 
  border-spacing: 0 7px;

}
.center-table th{
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:5px;
    border-bottom: 1px solid #a8b8c4;

}

.top-buffer { margin-top:50px; }

.researcher-file-view{
  background: rgba(255, 255, 255, 0.49);
}

.researcher-file-view:hover{
    background: rgba(255, 255, 255, 0.65);

}

.researcher-file-view td{
  padding: 15px;
}

tbody .researcher-file-view td:first-child
{
    border-radius: 5px 0 0 5px;

}
tbody .researcher-file-view td:nth-child(3)
{
    border-radius: 0 5px 5px 0;
}



