<div class="form-table">
    <div class='upload-container'>You can also: 
        <button class='btn btn-default'>Import from OSF</button>
        <button class='btn btn-default'><i class='fa fa-github' aria-hidden='true'></i> Import from Github</button>
        <button class='btn btn-default'><i class='fa fa-dropbox' aria-hidden='true'></i> Import from Dropbox</button>
    </div>
</div>
