{{outlet}}


<div class="top-buffer"></div>


<table class="span5 center-table">
    <thead>
        <tr>
	        <th>Document Name</th>
	        <th>Grant #</th>
	        <th>Staus</th>
        </tr>
    </thead>
    <tbody>
   		<tr class="researcher-file-view">
	        <td>The paper about stuff</td>
	        <td>234567890</td>
	        <td>Approved</td>
    	</tr>
    </tbody>
</table>