
<span class="moderatorHolder">
    {{#link-to 'agency.detail.settings' agency tagName="span"}}
        <button class=" btn btn-default admin-settings-button"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
    {{/link-to}}
    <div class="custom">
        {{#link-to 'index'}}<button class='btn btn-primary left'><i class='fa fa-bars fa-fw'></i>&nbsp;Menu</button>{{/link-to}}
        {{#link-to 'agency.detail.settings.metadata' agency}}<button class='btn btn-primary right'><i class='fa fa-cog fa-fw'></i>&nbsp;Settings</button>{{/link-to}}
        {{#link-to 'agency.detail.analytics' agency}}<button class='btn btn-primary right'><i class='fa fa-bar-chart fa-fw'></i>&nbsp;Analytics</button>{{/link-to}}
        {{#link-to 'agency.detail.create' agency}}<button class='btn btn-primary right'><i class='fa fa-institution fa-fw'></i>&nbsp;Create Grant</button>{{/link-to}}
        {{#link-to 'agency.detail' agency}}<button class='btn btn-primary right'><i class='fa fa-globe fa-fw'></i>&nbsp;Overview</button>{{/link-to}}
        <h1>Agency Administration</h1>
    </div>
</span>
{{liquid-outlet}}

