
<span class="moderatorHolder">
  <div class="custom">
    {{#link-to 'index'}}<button class='btn btn-primary left'><i class='fa fa-bars fa-fw'></i>&nbsp;Menu</button>{{/link-to}}
    {{#link-to 'institution.detail.analytics'}}<button class='btn btn-primary right'><i class='fa fa-bar-chart fa-fw'></i>&nbsp;Analytics</button>{{/link-to}}
    {{#link-to 'institution.detail.create' this}}<button class='btn btn-primary right'><i class='fa fa-institution fa-fw'></i>&nbsp;Create Grant</button>{{/link-to}}
    {{#link-to 'institution.detail'}}<button class='btn btn-primary right'><i class='fa fa-globe fa-fw'></i>&nbsp;Overview</button>{{/link-to}}
    <h1>Institution Overview</h1>
  </div>
{{bread-crumbs}}
{{outlet}}
</span>

