<style>
.container.row {
}

.row {
    max-width: 1170px;
    margin: 0 auto;
}

.col {
  overflow: hidden;
  height: initial;
  margin: 100px auto;
  border-top: 5px solid #2e6da4;
  background: rgba(255, 255, 255, .49);
  padding: 15px 15px;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 80px;
}

.bens {
  background-color: #eeeeee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-bottom: 30px;
  min-height: 175px;
}
</style>

<div class='custom'>
    <h1>OSF Grants</h1>
</div>

<style>

.flexbox-parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flexboxparenta {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-arount;
    -ms-flex-line-pack: space-between;
    align-content: justify;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; 
}

.flexbox-child > i.fa {
    display: block;
    margin: 5px auto;
    text-align: center;
    color: rgba(60,65,90,0.4);
    text-shadow: 0 1px 4px rgba(250,250,250, 0.7);
}

.flexbox-childa {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
 

}

.flexbox-child {

    padding: 10px;
    background-color: rgba(250,250,250,0.3);
    width: 300px;
    margin: 20px;
     -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 0 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
   }

</style>

<div class='flexbox-parent'>

<div class='flexbox-child flexbox-parenta'>
  <i class='fa fa-group fa-3x'></i>
  <h1>Researchers</h1> 
  <h4>Convenient compliance</h4>
  <hr />
  <ul class='bens'>
    <li>Submit your research</li>
    <li>Review the status of submitted research</li>
    <li>Respond to discussion pertaining your research</li>
    <li>Check the status of a paper</li>
  </ul>
  {{#link-to 'researcher.inbox' tagName="span"}}
  <button class="btn btn-primary btn-lg btn-block">Assigned Grants</button>
  {{/link-to}}
</div>

<div class='flexbox-child'>
    <i class='fa fa-building fa-3x'></i>
    <h1>Institutions</h1>
    <h4>Coordinated funding tools</h4>
    <hr />
    <ul class='bens flexbox-childa'>
        <li>Request materials be submitted by your researchers</li>
        <li>Review submitted research</li>
        <li>Coordinate the submission and review of research performed with grants by your institution</li>
    </ul>
    {{#link-to 'institution.overview' tagName="span"}}
        <button class="btn btn-primary btn-lg btn-block">Review Grants</button>
    {{/link-to}}
</div>

<div class='flexbox-child'>
  <i class='fa fa-institution fa-3x'></i>
  <h1>Granting Agencies</h1>
  <h4>Grant accountability simplified</h4>
  <hr />
  <ul class='bens'>
    <li>Manage the requirements of research you provide grants to.</li>
    <li>Review submitted research</li>
    <li>Communicate with the research's authors ranting agency to.</li>
    <li>Track information on all the grants awarded.</li>
  </ul>
  {{#link-to 'agency.overview' tagName="span"}}
  <button class="btn btn-primary btn-lg btn-block"  >Administer Grants</button>
  {{/link-to}}  
</div>
</div>
