
<div class="researchers-table">
  <h1>Researchers</h1>
  <h4>Upload your research projects to be reviewed. Or <a href="researcher/status">check the status</a> of a paper.</h4>
  <hr />
  {{#link-to 'researcher' tagName="span"}}
  <button class="btn btn-primary btn-lg btn-block"  >Upload Document</button>
  {{/link-to}}
</div>


<div class="admin-table">

    <h2>Moderators</h2>
    <p>Login as a Moderator to review submissions.</p>
    {{#link-to 'login' tagName="span"}}
    <button class="btn btn-success">Review Submissions</button>
    {{/link-to}}
</div>
