<span class="moderatorHolder">
  {{#link-to 'settings' tagName="span"}}
    <button class=" btn btn-default admin-settings-button"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
  {{/link-to}}
  <div class="custom">
    {{#link-to 'index'}}<button class='btn btn-primary'><i class='fa fa-chevron-circle-left'></i>&nbsp;Home</button>{{/link-to}}
    <h1>Institution Overview</h1>
  </div>
  {{department-file-viewer model=grants departments=departments createGrantHook=(action 'createGrant') institution=institution agency=agency}}
</span>
{{outlet}}

