<span class="moderatorHolder">
{{#link-to 'moderator.settings' tagName="span"}}
    <button class=" btn btn-default admin-settings-button" {{action "visible"}} ><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
  {{/link-to}}
  {{department-file-viewer}}
</span>

{{outlet}}

