<span class="moderatorHolder">
{{#link-to 'settings' tagName="span"}}
    <button class=" btn btn-default admin-settings-button"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
  {{/link-to}}
  <span class="custom">
  <h2>-Department of Transportation-</h2>
  </span>
  {{department-file-viewer model=model}}
</span>
{{outlet}}

