<nav class="navbar navbar-inverse" id="navbarScope" role="navigation">
      <a class="navbar-brand hidden-sm hidden-xs" href="/"><img src="https://osf.io/static/img/cos-white2.png" class="osf-navbar-logo" width="27" alt="COS logo"> Open Science Framework</a>
      <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav nav-dashboard">
            {{#link-to 'index' tagName="li"}}<a href="">Dashboard</a>{{/link-to}}
      </ul>
    </div>
</nav>
<div class="m-b-xl"></div>
