<style>
h1.preview {
    background-color: #777;
    color: #fff;
    margin: 0;
    padding: 20px 0 10px 0;
}

.mfr--wrapper {
    margin: 10px auto
    tex
}
.mfr--wrapper iframe {
}
</style>
<h1 class='preview'>Preview File</h1>
<div class='mfr--wrapper'>
{{file-renderer download=path width='500' height='800' allowfullscreen=true}}
</div>
{{outlet}}

