<div class='custom'>
    <h1>Researcher</h1>
    {{#link-to 'index'}}<button class='btn btn-primary left'><i class='fa fa-bars fa-fw'></i>&nbsp;Menu</button>{{/link-to}}
    {{#link-to 'researcher.upload'}}<button class='btn btn-primary right'><i class='fa fa-upload fa-fw'></i>&nbsp;Upload</button>{{/link-to}}
    {{#link-to 'researcher.inbox'}}<button class='btn btn-primary right'><i class='fa fa-institution fa-fw'></i>&nbsp;Requests</button>{{/link-to}}
</div>
{{outlet}}
