{{outlet}}

<div class="settingsHolder">
    <label for="metadataJson">Meta Data (Json format)</label>
    <textarea id="metadataJson"></textarea>
    <button type="button" class="btn btn-primary" style="float:right;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
</div>
