{{outlet}}
{{#link-to 'admin' tagName="span"}}
<button class="btn btn-default back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
{{/link-to}}

{{settings-side-by-side update=(action 'update') lastUpdated=lastUpdated}}