<div class="form-table">
    <h2>Connect Research to a Grant</h2>         
    <p>Connect Research to Grant {{grant.number}} by uploading your research to a non-paywalled provider.</p>
    
    {{file-chooser multiple=true files=files}}
    <button class="btn btn-primary btn-lg btn-block metaData"  {{action 'submit'  files grant}} > Upload </button>
    <hr/>
    <div class='upload-container'>You can also: 
    <button class='btn btn-default'>Import from OSF</button>
    <button class='btn btn-default'><i class='fa fa-github' aria-hidden='true'></i> Import from Github</button>
    <button class='btn btn-default'><i class='fa fa-dropbox' aria-hidden='true'></i> Import from Dropbox</button>
    </div>
</div>
