{{yield}}

<table class="table tb-file-viewer-header">
  <thead class="thead-default">
    <tr>
      <th width="17%; padding-right:120px;">Grant Number</th>
      <th width="7%">PI</th>
      <th width="7%">Date Submitted</th>
      <th width="10%">Date Published</th>
      <th>PI Email</th>
    </tr>
  </thead>
 </table>
<div class="document-list">

  <div class="document">

      <div class="less-info">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <span class="grant-number">##########</span>
        <span class="pi">Leo Leo</span>
        <span class="date-submitted">99/99/99</span>
        <span class="date-published">1/1/1</span>
        <span class="pi-email">pi-email@email.email</span>
      </div>


      <ul class="action-buttons">
        <li class='more-info-button' {{action "moreInfo" this}}>More Info<span class="caret"></span></li>
        <li class='view-document-button' {{action "viewDocument" this}}>View Document<span class="caret"></span></li>
        <li>Download</li>
      </ul>

      <div class='more-info'>
        <table>
              <thead>
                <tr>
                  <th scope="row">
                    File Name
                  </th>
                  <td class="fileName" colspan="2">
                    <ul>
                      <li>The Sythesis of Eicosanoyl-5-Hydroxytryptamide in Mammalian Tissue</li>
                      <li><a href="osf.io/federal/document/594fji">osf.io/federal/document/594fji</a></li>
                    </ul>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    Affiliation
                  </th>
                  <td class="affiliation" colspan="2">
                    <ul>
                      <li>Publisher: CellPress</li>
                      <li>Institution: University of Virginia</li>
                    </ul>

                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Status
                  </th>
                  <td class=" " colspan="2">
                    <span class="btn-success">Approved</span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Principal Investigator
                  </th>
                  <td class=" " colspan="2">
                    Leo Leo - pi-email@email.email
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Author(s)
                  </th>
                  <td class=" " colspan="2">
                    <ul>
                      <li>Cameron Blandford</li>
                      <li>Carolyn Stewart</li>
                      <li>Ryan Mason</li>
                    </ul>

                  </td>
                </tr>
           </tbody>
        </table>




      </div>

      <span class='view-document'>
        {{file-renderer}}
      </span>
    </div>






  </div>