{{yield}}
<div class="settings-body">

  <div class="settingsHolder">
    <h2>How to get a individual file through the api</h2>
    <p>instructions on how to get the file plus exaple url</p>
    <a>https://osf.io/federal/documents/{file-id}</a>
    <h2>How to get multiple files through the api</h2>
    <p>instructions on how to get all the files plus exaple url</p>
    <a>https://osf.io/federal/documents/</a>
  </div>
</div>