{{yield}}

<div style="margin-top:50px;"></div>

<div class="department-header">
<table class="table tb-file-viewer-header">
  <thead class="thead-default">
    <tr>
      <th style="width:17%; padding-left:15px;" class="thead-default-tr-th">Grant Number</th>
      <th style="width:4%;"  class="thead-default-tr-th">PI</th>
      <th style="width:10%;" class="thead-default-tr-th">Date Submitted</th>
      <th style="width:10%;" class="thead-default-tr-th">Date Published</th>
      <th style="width:8%;"  class="thead-default-tr-th">PI Email</th>
      <th style="width:50%;" >{{status-filter}}</th>
    </tr>
  </thead>
 </table>
</div>

<div class="document-list">

    {{#each model as |grant|}}
        {{moderator-file-view grant=grant}}
    {{/each}}

</div>