{{yield}}

<div style="margin-top:50px;"></div>

<div class="department-header">
<table class="table tb-file-viewer-header">
  <thead class="thead-default">
    <tr>
      <th class="thead-default-tr-th grant-number-header">Grant Number</th>
      <th class="thead-default-tr-th">PI</th>
      <th class="thead-default-tr-th">Date Submitted</th>
      <th class="thead-default-tr-th">Date Published</th>
      <th class="thead-default-tr-th">PI Email</th>
      <th >{{status-filter}}</th>
    </tr>
  </thead>
 </table>
</div>


<div class="document-list">

    {{#each model as |grant|}}
        {{moderator-file-view grant=grant}}
    {{/each}}

<div class="No-documents-error text-center"><h2>No Documents Found!</h2></div>

</div>
