{{yield}}
<ul id="filters" class="clearfix" data-filter=".read" {{action "getSelectedStatusFilter"}}>
<li><span class="filter active" data-filter=".read, .unread, .archived">All</span></li>
<li><span class="filter" data-filter=".read" >Read</span></li>
<li><span class="filter" data-filter=".unread">Unread</span></li>
<li><span class="filter" data-filter=".archived">Archived</span></li>
</ul>