{{yield}}
<div class="form-table">
  <h2 class="text-center">Document Successfully Uploaded!</h2>
  <br />
  {{#link-to 'index' tagName="span"}}
  <button class="btn btn-primary btn-lg btn-block" > Done! </button>
  {{/link-to}}
</div>