
    <div class="vertical-horizontal-center-row">

      <h2>Upload your file to submit it for review.</h2>
      <button class="btn btn-primary btn-lg btn-block" {{action "nextPage" "main"}} >Upload Document</button>

    </div>

