<nav class="navbar navbar-inverse navbar-fixed-top" id="navbarScope" role="navigation">
      <!-- /ko -->
      <a class="navbar-brand hidden-sm hidden-xs" href="/"><img src="https://osf.io/static/img/cos-white2.png" class="osf-navbar-logo" width="27" alt="COS logo"> Open Science Framework</a>
</nav>